<html>
	<head>
		<title>{{ config.getSiteName() }}</title>
	</head>
	<body style="text-align: center;">
		<h1>
			The {{ config.getSiteName() }} website is under construction
		</h1>
		<p>
			Please check back soon
		</p>
	</body>
</html>