/*****************************
    slide
*****************************/
main {
	.slideshow figure {
		padding: 220px 0 220px;
		background-size: cover;

		h1 {
			span {
				font-family: 'Smooch', cursive;
				display: flex;
			}

		}

	}

}

@media (max-width:991px) {
	main {
		.slideshow figure {
			padding: 100px 0 100px;
		}

	}

}


