/** Products module */

// wrapped by _template::.columns, _template::.contains-sidebar
.category-nav
{
	// inherits from _template::.sidebar

	ul
	{
		margin: 0;
		padding: 0;

		ul
		{
			display: none;
			margin-left: 10px;
		}

		li
		{
			display: block;
		}

		a
		{
			background: $LIGHT_NEUTRAL_COLOUR;
			display: block;
			margin-bottom: 2px;
			padding: 10px;
			text-decoration: none;
			transition: all 0.2s, color 0.1s;
		}

		li.sel ul
		{
			display: block;
		}

		li.sel > a,
		a:hover,
		a:focus,
		a:active
		{
			background: $PRIMARY_HIGHLIGHT;
			color: #fff;
		}
	}
}

// wrapped by _template::.columns
.products-content
{
	width: 100%;
}

	/* category pages */

	.product-links
	{
		display: grid;
		grid-column-gap: 35px;
		grid-row-gap: 65px;
		grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
		margin: 0;
		padding: 0;

		@include below(350px)
		{
			grid-template-columns: auto;
		}

		li
		{
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			vertical-align: top;
			position: relative;
			font-size: rem(22px);

			.summary
			{
				display: flex;
				flex-grow: 1;
				flex-direction: column-reverse;
				width: 100%;

				@include hover
				{
					.image
					{
						opacity: 0.5;
					}

					.name
					{
						text-decoration: underline;
					}
				}

				> div
				{
					width: 100%;
					flex-grow: 1;
				}

				> form
				{
					width: 100%;
				}
			}

				.text
				{
					display: flex;
					justify-content: space-between;
					width: 100%;
					font-family: $HEADING_FONT;
					font-size: rem(21px);
					line-height: 24px;

					@include above($LAPTOP_MEDIUM)
					{
						font-size: rem(24px);
						line-height: 27px;
					}

					.name
					{
						width: 80%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.price
					{
						padding-left: 10px;
						width: 20%;
						text-align: right;
						color: $PRIMARY_HIGHLIGHT;
					}
				}

				.image
				{
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					margin-bottom: 20px;
					width: 100%;
					top: 0;
					border: 1px solid $LIGHT_NEUTRAL_COLOUR;
					background: $LIGHT_COLOUR;
					opacity: 1;
				}

			.buttons
			{
				display: flex;
				align-items: center;
				margin: 0;

				.button
				{
					width: calc(50% - 5px);
					padding: 13px 5px;
					margin-right: 5px;
					font-size: rem(11px);
					text-align: center;
					border-radius: 0;

					&:last-child
					{
						margin-left: 5px;
						margin-right: 0;
					}

					@include above($TABLET_MIN)
					{
						font-size: inherit;
						padding: 18px 5px;
					}
				}
			}
		}
	}

	/* Individual Product page */
	// wrapped in .columns
	.product-images
	{
		// inherits from _template::.col-2
		margin-right: 25px;
		max-width: 365px;
		width: 100%;

		.small-images
		{
			// setting these as variables so they can be clearly/simply changed at breakpoints
			--spacing: 20px;
			--imageWidth: 102px;

			display: grid;
			gap: var(--spacing);
			grid-template-columns: repeat(auto-fill, minmax(var(--imageWidth), 1fr));
			position: relative;
			padding: 0;

			@include above($TABLET_MIN)
			{
				margin-top: 1.125rem;
			}

			li
			{
				// adjust dimensions to design usually so that 3 or 4 thumbnails with the same aspect as .main-image display per row at full content width.
				display: inline-flex;
				max-width: var(--imageWidth);

				&:after
				{
					@extend %absolute-pseudo-block;

					top: 0;
					right: 0;
					height: 100%;
					width: 20px;
					background: $LIGHT_COLOUR;

					@include above($TABLET_MIN)
					{
						width: 25px;
					}
				}
			}
		}
	}

	// wrapped in .columns
	.product-details
	{
		display: inline-block;
		position: relative;
		border: 1px solid $LIGHT_NEUTRAL_COLOUR;

		.description
		{
			object-fit: cover;
		}
	}

		.product-tabs
		{
			margin-top: 10px;
			cusrsor: zoom-in;
		}

		.add-to-cart
		{
			display: inline-block;
			max-width: var(--image-width);
			width: 100%;

			.label,
			.field
			{
				display: inline-block;
			}

			.label
			{
				margin-right: 10px;
				width: 100px;
			}

			.field
			{
				margin-bottom: 10px;
				width: 220px;
			}

			.error
			{
				font-size: rem(15px);
				color: $WARNING_COLOUR;
			}
		}
