:root
{
	--button-background: #{$PRIMARY_HIGHLIGHT};
	--button-hover: #{$SECONDARY_HIGHLIGHT};
}

input,
textarea,
button
{
	transition: all 0.2s;

	&:disabled
	{
		opacity: 0.5;
	}
}

/*** globally relevant styles ***/
.button
{
	-moz-appearance: none;
	-webkit-appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	min-height: 54px;
	padding: 10px;
	background: var(--button-background);
	color: $LIGHT_COLOUR;
	font-family: $HEADING_FONT;
	cursor: pointer;
	text-decoration: none;
	
	&[disabled]
	{
		--button-hover: var(--button-background);
		filter: saturate(0);
		pointer-events: none;
	}

	@include hover
	{
		background: var(--button-hover);
		text-decoration: none;
	}
}

/** These styles can be added to images and media through TinyMCE */
.float-left,
.float-right
{
	display: block;
	margin: 10px auto;
}

.float-left
{
	@include above($TABLET_MIN)
	{
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.float-right
{
	@include above($TABLET_MIN)
	{
		float: right;
		margin-bottom: 10px;
		margin-left: 10px;
	}
}

.centre-block
{
	display: block;
	margin: 10px auto;
	text-align: center;

	img,
	iframe,
	video
	{
		display: inline-block;
	}
}
/** End TinyMCE image/media styles */

.map
{
	min-height: 400px;
	width: 100%;
}

.message
{
	border: 4px solid $PRIMARY_HIGHLIGHT;
	padding: 1rem;
	background: rgba($PRIMARY_HIGHLIGHT, 0.25);
	color: $WARNING_COLOUR;

	&:empty
	{
		display: none;
	}
}

.pagination
{
	text-align: center;

	 > *
	{
		display: inline-block;
		border-left: 1px solid $DARK_NEUTRAL_COLOUR;
		padding: 0 10px;
		// audio browsers may simply read out a rapid-fire string of numbers without this
		pause-after: medium;

		&:first-child
		{
			border-left: none;
		}
	}

	.current
	{
		font-weight: bold;
	}
}

//simple accordion alternative
.activator
{
	position: relative;
	display: block;
	padding: 10px 40px 10px 15px;
	margin-bottom: 2px;
	background: $NEUTRAL_COLOUR;//#252b2d;
	font-size: rem(21px);
	font-family: $HEADING_FONT;
	color: $DARK_COLOUR;

	&:before,
	&:after
	{
		content: '';
		display: block;
		position: absolute;
		right: 12px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 15px;
		height: 3px;
		background: $DARK_COLOUR;
		transition: transform 0.2s;
	}
	&:after
	{
		transform: rotate(90deg);
	}

	&.open
	{
		background: $PRIMARY_HIGHLIGHT;
		color: $LIGHT_COLOUR;

		&:before,
		&:after
		{
			background: $LIGHT_COLOUR;
		}

		&:after
		{
			transform: rotate(0deg);
		}
	}
}

.fader
{
	padding: 15px;
}

//simple tabs alternative
.tab-nav
{
	margin-bottom: 15px;

	a
	{
		display: inline-block;
		padding: 15px;
		margin-right: 5px;
		background: $LIGHT_NEUTRAL_COLOUR;

		&.active
		{
			border-bottom: 3px solid $PRIMARY_HIGHLIGHT;
		}
	}
}

.tab:not(.active)
{
	display: none;
}

.mobile-hide
{
	display: none;

	@include above($LAPTOP_MIN)
	{
		display: block;
	}
}