<div class="image-block-wrapper {{ section.useSpecialBackground ? "special" : "" }}">
	<div class="container image-block">
		{% if section.image != null %}
			{{ section.image.tag("big-image", section.imageDescription)|raw }}
		{% else %}
			<div class="big-image">
				{{ section.getMedia().getEmbedCode()|raw }}
			</div>
		{% endif %}
		<div class="block-content">
			{{ section.content|raw }}
		</div>
	</div>
</div>