<p>
	Please deposit <strong>{{ payment.amount|formatPrice }}</strong> to <strong>{{ config.bankDetails }}</strong>. 
	Please enter <strong>{{ payment.localReference }}</strong> into the reference field.
</p>