/* compiled by scssphp 1.10.2 on Mon, 25 Apr 2022 10:19:49 +0000 (0.0003s) */

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap";
form:where(:not(.custom-form)) .file-picker .upload-button:after, .open-sub:before, .open-sub:after {
  content: "";
  display: block;
  position: absolute;
}
:root {
  --heading-colour: #008eca;
  --link-colour: #008eca;
}
html {
  font-size: 16px;
}
body {
  color: #000;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  color: var(--heading-colour);
  font-family: "Times New Roman", serif;
  font-size: var(--heading-responsive-size, initial);
  line-height: 1.2;
  transition: all 0.2s;
}
@media (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: var(--heading-size, initial);
  }
}
h1 {
  --heading-size: 3.75rem;
  --heading-responsive-size: 2rem;
}
h2 {
  --heading-size: 2rem;
  --heading-responsive-size: 1.5rem;
}
h3 {
  --heading-size: 1.5rem;
  --heading-responsive-size: 1.25rem;
}
a {
  color: var(--link-colour);
  text-decoration: none;
  transition: all 0.2s;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
a img {
  border: none;
}
:root {
  --button-background: #008eca;
  --button-hover: #5fc5f1;
}
input, textarea, button {
  transition: all 0.2s;
}
input:disabled, textarea:disabled, button:disabled {
  opacity: 0.5;
}
/*** globally relevant styles ***/
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-height: 54px;
  padding: 10px;
  background: var(--button-background);
  color: #fff;
  font-family: "Times New Roman", serif;
  cursor: pointer;
  text-decoration: none;
}
.button[disabled] {
  --button-hover: var(--button-background);
  filter: saturate(0);
  pointer-events: none;
}
.button:hover, .button:focus, .button:active {
  background: var(--button-hover);
  text-decoration: none;
}
/** These styles can be added to images and media through TinyMCE */
.float-left, .float-right {
  display: block;
  margin: 10px auto;
}
@media (min-width: 640px) {
  .float-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 640px) {
  .float-right {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
.centre-block {
  display: block;
  margin: 10px auto;
  text-align: center;
}
.centre-block img, .centre-block iframe, .centre-block video {
  display: inline-block;
}
/** End TinyMCE image/media styles */
.map {
  min-height: 400px;
  width: 100%;
}
.message {
  border: 4px solid #008eca;
  padding: 1rem;
  background: rgba(0, 142, 202, 0.25);
  color: #fd1a00;
}
.message:empty {
  display: none;
}
.pagination {
  text-align: center;
}
.pagination > * {
  display: inline-block;
  border-left: 1px solid #30312e;
  padding: 0 10px;
  pause-after: medium;
}
.pagination > *:first-child {
  border-left: none;
}
.pagination .current {
  font-weight: bold;
}
.activator {
  position: relative;
  display: block;
  padding: 10px 40px 10px 15px;
  margin-bottom: 2px;
  background: #626262;
  font-size: 1.3125rem;
  font-family: "Times New Roman", serif;
  color: #000;
}
.activator:before, .activator:after {
  content: "";
  display: block;
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 3px;
  background: #000;
  transition: transform 0.2s;
}
.activator:after {
  transform: rotate(90deg);
}
.activator.open {
  background: #008eca;
  color: #fff;
}
.activator.open:before, .activator.open:after {
  background: #fff;
}
.activator.open:after {
  transform: rotate(0deg);
}
.fader {
  padding: 15px;
}
.tab-nav {
  margin-bottom: 15px;
}
.tab-nav a {
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  background: #e4dfce;
}
.tab-nav a.active {
  border-bottom: 3px solid #008eca;
}
.tab:not(.active) {
  display: none;
}
.mobile-hide {
  display: none;
}
@media (min-width: 1024px) {
  .mobile-hide {
    display: block;
  }
}
:root {
  --container-width: 1220px;
}
@media (min-width: 1600px) {
  :root {
    --container-width: 1430px;
  }
}
html, details > * {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
canvas, embed, iframe, img, object, video {
  box-sizing: content-box;
}
/*** element styles ***/
html, body {
  scroll-behavior: smooth;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #fff;
}
img {
  height: auto;
  max-width: 100%;
}
iframe {
  object-position: top left;
  max-width: 100%;
}
/*** section styles ***/
[role=banner], main {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}
body > header {
  position: sticky;
  top: 0;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
body > header .site-header {
  position: relative;
}
body > header .logo {
  display: block;
  margin: 10px;
}
body > header .logo img {
  display: block;
}
main {
  display: block;
  z-index: 5;
  flex-grow: 1;
}
.content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content {
  display: flex;
  flex-flow: column;
}
@media (min-width: 1024px) {
  .content {
    display: block;
  }
}
.content-image {
  order: 2;
  align-self: center;
  transition: all 0.2s;
}
@media (min-width: 1024px) {
  .content-image {
    float: right;
    margin: 0.75rem 0 20px 40px;
    max-width: calc(50% - 20px);
  }
}
.module-content {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 1024px) {
  .columns, .contains-sidebar {
    display: flex;
    flex-wrap: wrap;
  }
  .columns:before, .columns:after, .contains-sidebar:before, .contains-sidebar:after {
    display: none;
  }
}
.columns {
  gap: 50px;
}
@media (min-width: 1024px) {
  .columns > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    margin-right: 2.5rem;
    width: 16.875rem;
  }
}
.has-sidebar {
  margin-top: 30px;
}
footer[role="banner"] {
  z-index: 0;
  font-size: 0.8125rem;
}
footer[role="banner"] a {
  color: inherit;
}
.sub-footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px auto;
}
@media (min-width: 640px) {
  .sub-footer {
    flex-flow: row;
    justify-content: space-between;
  }
}
form:where(:not(.custom-form)) .group {
  display: block;
  border: 0;
  margin: 0;
  padding: 10px;
  background: rgba(0, 142, 202, 0.05);
}
form:where(:not(.custom-form)) .group legend {
  display: table;
  float: left;
  margin: 0 0 0.3em;
  padding: 0;
}
form:where(:not(.custom-form)) .group .selectable {
  clear: left;
  display: block;
}
form:where(:not(.custom-form)) .group .error {
  display: inline-block;
}
form:where(:not(.custom-form)) .field-wrapper {
  margin: 0 0 0.5rem;
}
form:where(:not(.custom-form)) .label {
  display: block;
  margin-bottom: 0.3em;
}
form:where(:not(.custom-form)) .field {
  display: block;
}
form:where(:not(.custom-form)) span.error {
  display: block;
  margin-top: 10px;
  color: #fd1a00;
}
form:where(:not(.custom-form)) input[type=text], form:where(:not(.custom-form)) input[type=password], form:where(:not(.custom-form)) input[type=number], form:where(:not(.custom-form)) input[type=email], form:where(:not(.custom-form)) input[type=tel], form:where(:not(.custom-form)) input[type=date], form:where(:not(.custom-form)) input[type=datetime-local], form:where(:not(.custom-form)) input[type=month], form:where(:not(.custom-form)) input[type=search], form:where(:not(.custom-form)) input[type=time], form:where(:not(.custom-form)) input[type=url] {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #c1c1c1;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
}
form:where(:not(.custom-form)) select, form:where(:not(.custom-form)) textarea, form:where(:not(.custom-form)) .upload-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #c1c1c1;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
}
form:where(:not(.custom-form)) select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 30px;
}
form:where(:not(.custom-form)) .select-wrapper .field {
  position: relative;
}
form:where(:not(.custom-form)) .select-wrapper .field:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  border-width: 10px 8px 0;
  border-style: solid;
  border-color: #626262 transparent transparent;
  margin-top: -5px;
  pointer-events: none;
}
form:where(:not(.custom-form)) textarea {
  height: 170px;
}
form:where(:not(.custom-form)) input[type=checkbox], form:where(:not(.custom-form)) input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  vertical-align: text-bottom;
  border: 2px solid #626262;
  height: 1.2em;
  width: 1.2em;
}
form:where(:not(.custom-form)) input[type=checkbox]:checked, form:where(:not(.custom-form)) input[type=radio]:checked {
  background: #008eca;
}
form:where(:not(.custom-form)) input[type=radio] {
  border-radius: 50%;
}
form:where(:not(.custom-form)) .file-picker:not(.placeholder) .upload-button {
  max-width: 200px;
  text-align: center;
}
form:where(:not(.custom-form)) .file-picker.placeholder label {
  display: block;
}
form:where(:not(.custom-form)) .file-picker input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
form:where(:not(.custom-form)) .file-picker .field {
  position: relative;
}
form:where(:not(.custom-form)) .file-picker .upload-button {
  display: inline-block;
  position: relative;
  padding-right: 35px;
  cursor: pointer;
}
form:where(:not(.custom-form)) .file-picker .upload-button:hover:after, form:where(:not(.custom-form)) .file-picker .upload-button:focus:after, form:where(:not(.custom-form)) .file-picker .upload-button:active:after {
  top: -10px;
}
form:where(:not(.custom-form)) .file-picker .upload-button:after {
  top: 0;
  right: 15px;
  bottom: 0;
  height: 20px;
  margin: auto;
  width: 18px;
  background: url("/theme/images/icons/upload.png") center center no-repeat;
  transition: all 0.2s;
}
form:where(:not(.custom-form)) .file-picker .uploaded {
  display: inline-block;
  margin-left: 20px;
}
.security-wrapper img {
  vertical-align: middle;
  margin-bottom: 10px;
}
.container.featherlight-inner::before, .container.featherlight-inner::after {
  display: none;
}
.popup-form-wrapper {
  display: none;
}
.open-popup-form .featherlight-content {
  width: 95%;
  max-width: 500px;
}
.featherlight .featherlight-close-icon {
  top: 10px;
  right: 10px;
  font-size: 7mm;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #008eca;
}
/* General standardised styles for native functionality like carts and users */
@keyframes native-ajax-loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.native-sidebar .sidebar-section.loading {
  position: relative;
}
.native-sidebar .sidebar-section.loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.native-sidebar .sidebar-section.loading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  border: 5px solid;
  border-color: #008eca #008eca transparent transparent;
  border-radius: 50%;
  height: 50px;
  margin-top: -30px;
  margin-left: -30px;
  width: 50px;
  animation: native-ajax-loading-animation 1s linear infinite;
  transition: opacity 0.2s;
}
.native h1 {
  position: relative;
  padding: 15px;
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
}
.native h2 {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}
.native .field-wrapper, .native .field-wrapper > label {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
}
@media (max-width: 639px) {
  .native .field-wrapper, .native .field-wrapper > label {
    display: block;
  }
}
.native .field-wrapper .label, .native .field-wrapper > label .label {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  flex-basis: 150px;
}
@media (max-width: 639px) {
  .native .field-wrapper .label, .native .field-wrapper > label .label {
    margin-right: 0;
    text-align: left;
  }
}
.native .field-wrapper .field, .native .field-wrapper > label .field {
  flex-grow: 1;
}
.native .field-wrapper .append-errors, .native .field-wrapper > label .append-errors {
  margin-left: 160px;
  width: 100%;
}
@media (max-width: 639px) {
  .native .field-wrapper .append-errors, .native .field-wrapper > label .append-errors {
    margin-left: 0;
  }
}
.native .field-wrapper.group {
  margin-bottom: 15px;
}
.native .field-wrapper.checkbox-wrapper, .native .submit-button, .native .field-wrapper.group {
  margin-left: 160px;
}
@media (max-width: 639px) {
  .native .field-wrapper.checkbox-wrapper, .native .submit-button, .native .field-wrapper.group {
    margin-left: 0;
  }
}
.native-sections {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .native-sections {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
}
.native-sidebar {
  margin-bottom: 35px;
  margin-left: 0;
  min-width: auto;
  order: 0;
}
@media (min-width: 640px) {
  .native-sidebar {
    flex-shrink: 0;
    margin-left: 35px;
    min-width: 30%;
    order: 2;
  }
}
.native-sidebar .sidebar-section {
  border: 1px solid #626262;
  padding: 20px;
}
.native-sidebar h1 {
  margin: -20px -20px 20px;
  background: #626262;
  color: #fff;
}
.native-sidebar .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
}
.native-sidebar .row.total {
  margin: 20px 0 0;
  font-size: 1.25rem;
}
.native-main {
  flex-grow: 1;
}
.native-main .main-section, .native-main .payment-confirm-section {
  border: 1px solid #626262;
  margin-bottom: 30px;
  padding: 15px;
}
@media (min-width: 640px) {
  .native-main .main-section, .native-main .payment-confirm-section {
    padding: 30px;
  }
}
.native-main h1 {
  margin: -15px -15px 15px;
  background: #000;
  color: #fff;
  padding: 30px;
}
@media (min-width: 640px) {
  .native-main h1 {
    margin: -30px -30px 30px;
  }
}
@media (min-width: 1279px) {
  .main-navigation {
    position: relative;
    z-index: 7;
    padding: 0;
    color: #fff;
    font-family: "Times New Roman", serif;
    font-size: 1.125rem;
    text-transform: none;
  }
  .main-navigation > ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 1410px;
    padding: 0;
    width: 100%;
  }
  .main-navigation li {
    display: flex;
    position: relative;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }
  .main-navigation li:hover > a, .main-navigation li:focus > a, .main-navigation li:active > a {
    background: #008eca;
    color: #fff;
    text-decoration: none;
  }
  .main-navigation li a {
    display: inline-block;
    width: 100%;
    background: #fff;
    color: #000;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
  }
  .main-navigation li ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    min-width: 100%;
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    text-transform: none;
    transition: all 0.2s;
  }
  .main-navigation li ul li {
    display: block;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    text-align: left;
  }
  .main-navigation li ul li a {
    padding: 5px 10px;
    width: 100%;
    line-height: normal;
  }
  .main-navigation .sel > a, .main-navigation .sel .sel > a {
    background: #008eca;
    color: #fff;
  }
  .main-navigation li:hover ul, .main-navigation a:focus ~ ul {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 1279px) {
  .main-navigation-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .main-navigation {
    display: none;
    position: absolute;
    width: 100%;
    background: #5fc5f1;
  }
  .main-navigation.open {
    display: block;
  }
  .main-navigation > ul {
    z-index: 10000;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-navigation li {
    display: block;
    position: relative;
    border-top: 1px solid #30aade;
    width: 100%;
    text-align: left;
  }
  .main-navigation li:hover, .main-navigation li:focus, .main-navigation li:active {
    background-color: #008eca;
  }
  .main-navigation li.sel {
    background-color: #008eca;
  }
  .main-navigation li a {
    display: block;
    padding: 10px 1em;
    color: #fff;
    text-align: left;
    text-decoration: none;
  }
  .main-navigation li ul {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }
  .main-navigation li ul li {
    width: 100%;
    background-color: #51bdeb;
  }
  .main-navigation li ul li a {
    padding-left: 2.5em;
  }
  .main-navigation li.open > .open-sub:after {
    transform: rotate(360deg);
  }
  .main-navigation li.open > .open-sub:before {
    transform: rotate(180deg);
  }
  .main-navigation li.open > ul {
    display: block;
  }
  .main-navigation > ul > li:last-child > ul {
    left: auto;
    right: 0;
  }
  .main-navigation > ul > li:last-child > ul ul {
    left: auto;
    right: 100%;
  }
  .open-nav {
    display: block;
    position: absolute;
    top: -50px;
    right: 10px;
    height: 26px;
    width: 34px;
    cursor: pointer;
  }
  .open-nav .bar {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    transition: all 0.2s;
  }
  .open-nav .bar.top {
    top: 0;
  }
  .open-nav .bar.middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .open-nav .bar.bottom {
    bottom: 0;
  }
  .open-nav.open .bar {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .open-nav.open .bar.top, .open-nav.open .bar.middle {
    transform: rotate(135deg);
  }
  .open-nav.open .bar.bottom {
    transform: rotate(-135deg);
  }
  .open-sub {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .open-sub:before, .open-sub:after {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    margin: auto;
    width: 50%;
    background: #fff;
    transition: all 0.2s;
  }
  .open-sub:after {
    transform: rotate(90deg);
  }
}
@media (max-width: 640px) {
  li.account-nav {
    position: static !important;
  }
}
li.account-nav.do-form:hover ul {
  display: none;
}
li.account-nav.do-form.open {
  background: #5fc5f1;
}
li.account-nav.do-form.open ul {
  display: block;
  visibility: visible;
  opacity: 1;
}
li.account-nav:not(.do-form):hover ul, li.account-nav:not(.do-form) a:focus ~ ul {
  display: block;
}
@media (max-width: 1279px) {
  li.account-nav.logged-in > ul {
    display: none !important;
  }
}
li.account-nav > a {
  background: url("/theme/images/icons/user.png") 8px center no-repeat;
}
li.account-nav ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 10;
  margin: 0;
  padding: 0;
  background: #5fc5f1;
}
@media (max-width: 1279px) {
  li.account-nav ul {
    width: 100%;
  }
}
li.account-nav ul li {
  width: 100%;
}
li.account-nav form {
  margin-top: 0;
  min-width: 290px;
  padding: 20px;
  background: #5fc5f1;
}
li.account-nav form input[type="text"], li.account-nav form input[type="password"] {
  padding: 7px;
  font-size: 0.9375rem;
}
@media (max-width: 1279px) {
  li.account-nav form input[type="text"], li.account-nav form input[type="password"] {
    padding: 14px;
  }
}
li.account-nav form .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
@media (max-width: 1279px) {
  li.account-nav form .actions {
    display: block;
  }
}
li.account-nav form .button {
  border-radius: 0;
  padding: 10px 20px;
  margin: 0;
  min-width: 0;
  background: #000;
  font-size: 0.9375rem;
  text-transform: none;
}
li.account-nav .reset-link {
  padding: 0;
  background: none;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  text-align: right;
}
@media (max-width: 1279px) {
  li.account-nav .reset-link {
    display: inline-block;
    margin-top: 10px;
    text-align: left;
  }
}
li.account-nav .reset-link:hover {
  color: #fff;
}
.cart-link > a .icon {
  display: inline-block;
  position: relative;
  height: 17px;
  margin-right: 15px;
  width: 17px;
  background: url("/theme/images/icons/cart.png") center no-repeat;
}
.cart-link > a .icon .number {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -14px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background: #000;
  color: #fff;
}
.big-slideshow {
  display: grid;
  grid-template-columns: [content-background-start slideshow-start] 20px [content-start] 1fr [content-end] 20px [content-background-end slideshow-end];
}
@media (min-width: 1024px) {
  .big-slideshow {
    grid-template-columns: [content-background-start] 10px [content-start] 3fr [content-end] 10px [content-background-end slideshow-start] 10px 7fr 10px [slideshow-end];
  }
}
@media (min-width: 1430px) {
  .big-slideshow {
    --side-panel-width: max(10px, calc((100% - var(--container-width)) / 2));
    grid-template-columns: [content-background-start] var(--side-panel-width) [content-start] 3fr [content-end] 100px [content-background-end slideshow-start] 75px 7fr var(--side-panel-width) [slideshow-end];
  }
}
.big-slideshow:before {
  background: #000;
  content: "";
  grid-column: content-background;
  grid-row: 1;
}
.big-slideshow .side-content {
  align-self: center;
  color: #fff;
  grid-column: content;
  grid-row: 1;
}
.big-slideshow h2 {
  font-size: 2.75rem;
}
.big-slideshow p {
  margin: 30px 0;
}
.big-slideshow .slides {
  grid-column: slideshow;
  grid-template-rows: auto;
}
@media (min-width: 1024px) {
  .big-slideshow .slides {
    grid-row: 1;
  }
}
.big-slideshow .slides img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.big-slideshow .slides .foxy-bullets {
  bottom: 25px;
  position: absolute;
}
.big-slideshow .slides .foxy-bullet {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}
.big-slideshow .slides .foxy-active .foxy-bullet {
  background: #fff;
  opacity: 1;
}
.extra-content {
  margin-bottom: 50px;
  margin-top: 50px;
}
.image-block {
  --button-background: #5fc5f1;
  --button-hover: #000;
  --link-colour: #fff;
  background: #008eca;
  border-radius: 10px;
  box-shadow: 0 0 13px 8px rgba(0, 0, 0, 0.17);
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  margin-top: 75px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1024px) {
  .image-block {
    flex-direction: row;
  }
}
.image-block .big-image {
  display: flex;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1024px) {
  .image-block .big-image {
    width: 65.96%;
  }
}
.image-block .big-image > * {
  height: 100%;
  width: 100%;
}
.image-block .block-content {
  align-self: center;
  padding: 50px;
}
@media (min-width: 1600px) {
  .image-block h2 {
    font-size: 2.75rem;
  }
}
/* tinymce universal formatting */
#tinymce {
  display: block;
  min-height: 0;
  max-width: 1410px;
  padding: 10px;
  background: #fff;
  color: #000;
  font-size: 1em;
  text-align: left;
}
#tinymce p {
  margin: 0 0 1em;
}
#tinymce form {
  outline: 1px dotted #30312e;
}
#tinymce a {
  border-bottom: 1px dotted #30312e;
  text-decoration: none;
}
#tinymce td {
  font-family: inherit;
  font-size: inherit;
}
/* old gallery module */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin-bottom: 1px;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 640px) {
  .gallery a {
    margin-right: 1px;
    max-width: calc(33.3% - 1px);
  }
  .gallery a:nth-child(3n) {
    margin-right: 0;
  }
  .gallery a:nth-child(4n) {
    margin-right: 1px;
  }
}
@media (min-width: 1024px) {
  .gallery a {
    max-width: calc(25% - 1px);
  }
  .gallery a:nth-child(3n) {
    margin-right: 1px;
  }
  .gallery a:nth-child(4n) {
    margin-right: 0;
  }
}
.gallery a:hover:after, .gallery a:focus:after, .gallery a:active:after {
  opacity: 0;
}
.gallery a:hover:before, .gallery a:focus:before, .gallery a:active:before {
  opacity: 1;
}
.gallery a:after {
  content: attr(title);
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 5;
  padding: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: opacity 0.25s;
}
.gallery a[title=""]:after, .gallery a figcaption {
  display: none;
}
.gallery a figure {
  display: block;
  margin: 0;
  padding-top: 73%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url("/theme/images/icons/gallery-zoom.png") center center no-repeat;
  transition: opacity 0.25s;
}
/***** main slideshow (as header or banner) *****/
.slideshow {
  overflow: hidden;
  position: relative;
  background: #fff;
}
.slideshow .slide {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.slideshow .slide img {
  height: auto;
  width: 100%;
}
.slideshow .slide .background-image {
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.slideshow .slide .background-image:after {
  content: "";
  display: block;
  position: relative;
  padding-top: 340px;
}
@media (min-width: 640px) {
  .slideshow .slide .background-image:after {
    padding-top: calc(100% * 0.1484375);
  }
}
@media (min-width: 640px) {
  html.Front-Page .slideshow .slide .background-image:after {
    padding-top: calc(100% * 0.1484375);
  }
}
@media (min-width: 640px) {
  .slideshow .slide .small-screen {
    display: none;
  }
}
.slideshow .slide .small-screen + .big-screen {
  display: none;
}
@media (min-width: 640px) {
  .slideshow .slide .small-screen + .big-screen {
    display: block;
  }
}
.slideshow .slide .caption {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-position: center top;
  background-repeat: no-repeat;
  color: #000;
  text-align: left;
  text-transform: none;
  transition: all 0.2s;
}
@media (min-width: 640px) {
  .slideshow .slide .caption {
    align-items: center;
  }
}
@media (min-width: 1410px) {
  .slideshow .slide .caption {
    right: 0;
    left: 0;
  }
}
.slideshow .slide .caption h2 {
  margin: 0;
  color: #fff;
  font-size: 2.25rem;
  font-family: Arial, sans-serif;
}
@media (min-width: 1410px) {
  .slideshow .slide .caption h2 {
    font-size: 3.75rem;
  }
}
/***** global navigation styles for slideshows *****/
/* (all the structure you should need to customise Foxy arrows and bullets) */
.foxy .foxy-arrow::after {
  border-color: #008eca;
}
.foxy .foxy-bullets .foxy-bullet-item.foxy-active .foxy-bullet {
  background: #008eca;
}
.account-navigation ul {
  margin: 0;
  padding: 0;
}
.account-navigation li {
  display: block;
}
.account-navigation a {
  text-decoration: none;
}
.account-navigation a:hover, .account-navigation a:focus, .account-navigation a:active {
  text-decoration: underline;
}
.register-section {
  max-width: 420px;
}
.order-list .order {
  display: flex;
  justify-content: space-between;
  border: 1px solid #008eca;
  margin-bottom: 20px;
}
@media (max-width: 639px) {
  .order-list .order {
    display: block;
  }
}
.order-list .order:last-child {
  margin-bottom: 0;
}
.order-list .order-details {
  border-right: 1px solid #008eca;
  max-width: 165px;
  width: 100%;
  padding: 10px;
  background: rgba(0, 142, 202, 0.1);
  font-size: 0.9375rem;
}
@media (max-width: 639px) {
  .order-list .order-details {
    border-right: none;
    border-bottom: 1px solid #008eca;
    max-width: 100%;
  }
}
.order-list .order-details .limited-reorder {
  display: block;
}
.order-list h2 {
  margin: 0;
  font-size: inherit;
}
.order-list p {
  margin: 0;
}
.order-list .order-items {
  flex-grow: 1;
  margin: 0;
  padding: 10px;
}
.order-list li {
  display: block;
}
.order-list .item-title {
  font-weight: bold;
}
.main-navigation .search-form {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1279px) {
  .main-navigation .search-form {
    margin-top: 20px;
  }
}
.main-navigation .search-form .search-icon {
  display: block;
  width: 21px;
  height: 21px;
  text-align: left;
  text-indent: -100000px;
  background: url("/theme/images/icons/search.png") center no-repeat;
  cursor: pointer;
}
@media (max-width: 1279px) {
  .main-navigation .search-form .search-icon {
    position: absolute;
    right: 0;
  }
}
@media (min-width: 1280px) {
  .main-navigation .search-form .field {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 3px;
    background: #fff;
  }
}
@media (max-width: 1279px) {
  .main-navigation .search-form .field {
    width: 100%;
  }
}
@media (max-width: 1279px) {
  .main-navigation .search-form .field input {
    padding: 8px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e4dfce;
    text-transform: uppercase;
  }
}
.main-navigation .search-form .field.open {
  display: block;
}
.content .searchForm {
  text-align: center;
}
.content .searchForm label {
  display: block;
  text-align: center;
}
.content .searchForm input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 263px);
  width: 300px;
}
@media (max-width: 639px) {
  .content .searchForm input[type="text"] {
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
  }
}
.content .searchForm .button {
  vertical-align: middle;
  padding: 13px 35px;
}
.search-results {
  border-top: 1px solid #626262;
}
.search-results article {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 10px;
}
@media (max-width: 1279px) {
  .search-results article {
    display: block;
  }
}
.search-results article.has-image .search-content {
  width: calc(100% - 615px);
}
@media (max-width: 1279px) {
  .search-results article.has-image .search-content {
    width: 100%;
  }
}
.search-results article h5 {
  margin-top: 20px;
  margin-bottom: 3px;
}
.search-results article p {
  line-height: initial;
}
.search-results article .search-image {
  display: flex;
  justify-content: center;
  height: auto;
  margin-right: 45px;
  max-width: 570px;
  width: 100%;
}
@media (max-width: 1279px) {
  .search-results article .search-image {
    max-width: 100%;
  }
}
.search-results article .search-image img {
  display: block;
}
.search-results ul {
  margin-top: 10px;
}
.search-results li a {
  display: inline;
  padding: 0;
}
.sidebar.search-results img {
  float: none;
  margin: 0.5em 0;
}
/*# sourceMappingURL=/resources/cache/scss/5351d676bf0669fafa8be1e2a7ec93d6.css.map */