<form class="search-form" action="/search/" method="GET" enctype="multipart/form-data">
	<label class="js-open-search search-icon" for="search">search</label>
	<div class="field js-search">
		<input name="search" id="search" type="text" value="" placeholder="Search" />
	</div>
</form>