.filter-form
{
	display: flex;
}
.list-filter
{
	-moz-appearance: none;
	-webkit-appearance: none;
	background: lighten($EMPHASIS_COLOUR, 5%);
	border: 1px solid darken($EMPHASIS_COLOUR, 5%);
	color: inherit;
	display: block;
	font-family: inherit;
	font-size: inherit;
	padding: 10px;
}

.export-buttons 
{
	margin-bottom: 10px;

	@include above($TABLET_MIN)
	{
		display: flex;
		margin-bottom: 0;
		margin-right: 10px;
	}

	.button 
	{
		width: 100%;
		margin-bottom: 5px;
		text-align: center;

		@include above($TABLET_MIN)
		{
			width: auto;
			margin-bottom: 0px;
			margin-right: 5px;
			text-align: left;
		}
	}
}

.rows
{
	border-collapse: collapse;
	width: 100%;
	
	thead
	{
		display: none;
		
		@include above($TABLET_MIN)
		{
			display: table-header-group;
		}
	}
	
	tbody
	{
		display: block;
		margin-top: 20px;
		
		@include above($TABLET_MIN)
		{
			display: table-row-group;
			margin-top: 0;
		}
		
		&.draggable
		{
			cursor: grab;
		}
		
		&.sortable-ghost
		{
			cursor: grabbing;
			opacity: 0.5;
		}
	}
	
	tr
	{
		border: 1px solid darken($EMPHASIS_COLOUR, 10%);
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 2px;
		grid-template-columns: min-content 1fr;
		padding: 10px;
		
		@include above($TABLET_MIN)
		{
			border: 0;
			display: table-row;
		}
		
		&.sub-table
		{
			border: 0;
			display: block;
			margin-left: 20px;
			padding: 0;
			
			@include above($TABLET_MIN)
			{
				display: table-row;
			}
		}
	}
	
	th,
	td
	{
		display: contents;
		text-align: left;
		
		@include above($TABLET_MIN)
		{
			display: table-cell;
		}
		
		&.left
		{
			text-align: left;
		}
		
		&.centre
		{
			text-align: center;
		}
		
		&.right
		{
			text-align: right;
		}
		
		&.expand
		{
			@include above($TABLET_MIN)
			{
				width: 1px;
			}
			
			> *
			{
				order: 1;
			}
		}
		
		&.position
		{
			fill: lighten($DARK_COLOUR, 50%);
			position: relative;
			vertical-align: center;
			width: 1px; //keeps this to the right and not wider than it needs to be
		}
		
		&:before
		{
			content: attr(data-column);
			display: block;
			padding: 5px 10px;
			text-align: left;
			
			@include above($TABLET_MIN)
			{
				display: none;
			}
		}
		
		&.expand:before
		{
			display: none;
		}

		.break
		{
			word-break: break-all;
		}
		
		> *
		{
			padding: 5px;
			text-align: left;
			word-break: break-word;
			
			@include above($TABLET_MIN)
			{
				padding: 0;
				text-align: inherit;
				word-break: inherit;
			}
		}
	}
	
	th
	{
		background: rgba($DARK_COLOUR, 0.1);
		color: #4a4a4a;
		font-size: 14px;
		font-weight: $SEMI_BOLD;
		padding: 10px 15px;
		text-transform: uppercase;
	}
	
	td
	{
		background: rgba($LIGHT_COLOUR, 0.5);
		border-top: 1px solid $EMPHASIS_COLOUR;
		
		@include above($TABLET_MIN)
		{
			padding: 15px;
		}
		
		&.list-wrapper
		{
			border: 0;
			padding: 0 0 0 30px;
		}
	}
}

.add-button
{
	margin-right: 10px;
}

.empty-list
{
	background: rgba($DARK_COLOUR, 0.1);
	margin-bottom: 20px;
	padding: 20px;
}

.pagination.pagination
{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	
	select
	{
		-moz-appearance: none;
		-webkit-appearance: none;
		background: $EMPHASIS_COLOUR;
		border: 1px solid darken($EMPHASIS_COLOUR, 20%);
		border-radius: 5px;
		font: inherit;
		margin: 0 5px;
		padding: 10px;
		width: auto;
	}
	
	.pagination-prev,
	.pagination-next
	{
		overflow: hidden;
		position: relative;
		text-indent: -9999px;
		
		&:after
		{
			content: "";
			position: absolute;
			top: calc(50% - 5px);
			left: calc(50% - 8px);
			border-width: 10px 8px 0;
			border-style: solid;
			border-color: $LIGHT_COLOUR transparent transparent;
			pointer-events: none;
		}
	}
	
	.pagination-prev
	{
		margin-left: 10px;
		
		&:after
		{
			transform: rotate(90deg);
		}
	}
	
	.pagination-next:after
	{
		transform: rotate(-90deg);
	}
}

.table-element .element-info
{
	border-top: 1px solid $NEUTRAL_COLOUR;
	padding: 1em;
	font-size: smaller;
}

.free-shipping-threshold-form 
{
	margin-bottom: 15px;

	.label,
	small
	{
		display: block;
	}

	.label 
	{
		margin-bottom: 3px;
	}

	label 
	{
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 3px;

		input 
		{
			width: auto;
		}
	}
}