$DARK_COLOUR: #2e2d2d;
$LIGHT_COLOUR: #fff;
$EMPHASIS_COLOUR: #f1f1f1;
$INFO_COLOUR: #ff9e16;

$CONTENT_FONT: "Open Sans", sans-serif;
$HEADING_FONT: Montserrat, sans-serif;

// Width should be a certain amount larger than the site's content width, so as to allow TinyMCE to properly wrap around it
$MAX_WIDTH: $CONTENT_WIDTH + 130px;

$STANDARD_BOX_SHADOW: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
$HOVER_BOX_SHADOW: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);