<span class="poli-block">
	<img src="/theme/images/payment-gateways-poli.png" alt="POLi" />
	<a href="https://www.polipayments.com/consumer/" target="_blank" rel="noopener noreferrer">Learn more about POLi</a><br />
	<a href="https://transaction.apac.paywithpoli.com/POLiFISupported.aspx?merchantcode={{ merchantCode }}" target="_blank" rel="noopener noreferrer">Available Banks</a>
</span>