<h3>Thank you for your payment to {{ config.getSiteName() }}</h3>
<p>We've sent you an email confirming the below payment, please retain for your records.</p>
{% include "payments/bill-payment-details.twig" %}
