{% extends 'pages/page.twig' %}

{% block content %}
	<div class="columns contains-sidebar product-section-wrapper">
		<div class="sidebar category-nav">
			<ul>
				{% include "template/sections/navigation.twig" with {
					"navItems": catNavItems,
					"currentDepth": 1,
					"maxDepth": 2,
					"currentNavItem": category
				} only %}
			</ul>
		</div>
		<div class="products-content">
			{% block products_content %}{% endblock %}
		</div>
	</div>
{% endblock %}
