{% extends 'pages/page.twig' %}
{% block recipe %}
      <!--=================================
        Recipes -->
        <section class="space-ptb bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                                <h2>Recipes</h2>
                            </div>
                            <div class="recipe-filter d-flex align-items-center">
                                <span>Filter by</span>
                                <select class="form-select">
                                  <option selected>Braising</option>
                                  <option value="1">Braising</option>
                                  <option value="2">Braising</option>
                                  <option value="3">Braising</option>
                                </select>
                                <a href="#" class="btn btn-primary">Filter</a>
                            </div>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-lg-4">
                        <div class="testimonials-info">
                            <div class="section-title">
                                <h2 class="text-white">Premium quality meat</h2>
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <a class="btn mt-3" href="#">Find Out More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <img class="img-fluid" src="theme/images/recipes-01.jpg">
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-lg-8">
                        <img class="img-fluid" src="theme/images/recipes-02.jpg">
                    </div>
                    <div class="col-lg-4">
                        <div class="premium-quality-info">
                            <div class="section-title">
                                <h2 class="text-white">Premium quality meat</h2>
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <a class="btn mt-3" href="#">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-lg-4">
                        <div class="testimonials-info">
                            <div class="section-title">
                                <h2 class="text-white">Premium quality meat</h2>
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <a class="btn mt-3" href="#">Find Out More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <img class="img-fluid" src="theme/images/recipes-03.jpg">
                    </div>
                </div>
            </div>
        </section>
        <!--=================================
        Recipes -->
{% endblock %}