{% extends 'template/template.twig' %}

{% block content %}
	{% block front_page %}{% endblock %}
	{% block contact %}{% endblock %}

	{# {% block page_image %}
		{{ page.image.tag('content-image', page.imageDescription)|raw }}
	{% endblock %} #}
	{# {% block content_title %}
		<h1>{{ page.getMainHeading() }}</h1>
	{% endblock %} #}
	{% block page_content %}
		{{ page.getPageContent()|expandHtml }}
	{% endblock %}
{% endblock %}
